@use "sass:map";

$color-accent-light: #758B9D !default;
$color-accent: #59AFFF !default;
$color-accent-01: rgba(89, 175, 255, 0.1);
$color-accent-03: rgba(89, 175, 255, 0.3);
$dark-blue: rgba(60, 81, 98, 1);
$light-blue: rgba(159, 219, 252, 1);
$subtitle: rgba(117, 139, 157, 1);
$border-color: rgb(71 71 71 / 30%);
$border-color-2: rgba(217, 241, 255, 0.2);
$white: #FFFFFF;
$grey: #696767;
$dark-grey: #1F2327;
$bg-color: #000000 !default;
$green-accent: #0FF47F;
$green-footer-accent: #F6FFFA;
$text-green: #759D98;
$line-green: #122220;
$light-purple: #E1E3FE;
$light-purple-04: rgba(225, 227, 254, 0.4);
$light-purple-08: rgba(225, 227, 254, 0.8);
$light-purple-06: rgba(225, 227, 254, 0.6);
$light-purple-04: rgba(225, 227, 254, 0.4);
$light-purple-03: rgba(117, 104, 151, 0.3);
$light-purple-20: #7E759D;
$lighter-purple: #D8D7FD;
$text-purple: #C7CAF3;
$menu-heading: #F0F2FF;
$footer-home-links: #EBEBEB;
$purple-accent: #562BD6;
$purple-menu-accent: #A37FFF;
$button-bg: #01020A;
$home-footer-button: #050505;
$green-shadow: #0FF47F4D;
$grey-accent: #131319;
$grey-1: #696969;
$dark-grey-links: #9B9B9B;
$pagination-grey: #888686;
$light-grey: #BABABA;
$darker-grey: #D5D5D5;
$text-grey: #FAFAFA;
$tab-grey: #5B5B5B;
$grey-text-explore: #A7A7A7;
$grey-text-agent: #ABABAB;
$hover-btn: #01020a;
$case-border: #323232;
$case-icon-bg: #262626;
$case-btn-color: #E3E3E3;

$gradient-purple: linear-gradient(83.4deg, #CAB8F9 2.39%, #875FF2 36.45%, #6231E6 77.24%, #381D89 109.32%);
$gradient-grey: linear-gradient(88.95deg, #E3E3E3 1.09%, #6D6E71 103.97%);
$gradient-grey-home: linear-gradient(90deg, #DDDDDD 1.76%, #444444 85.05%);


$breakpoints: (
  xss: 650px,
  xs: 768px,
  sm: 992px,
  sml: 1025px,
  md: 1200px,
  lg: 1441px,
  xl: 1920px
) !default;

@mixin breakpoint($name) {
  @if not map.has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media screen and (min-width: map.get($breakpoints, $name)) {
      @content;
    }
  }
}

@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
